.sidebar {
  background: var(--gray-800);
  border-radius: 8px;
  overflow: hidden;
}

.cover {
  height: 72px;
  object-fit: cover;
  width: 100%;
}

.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: calc(-1.5rem - 6px);
}

.profile strong {
  color: var(--gray-100);
  line-height: 1.6;
  margin-top: 1rem;
}

.profile span {
  color: var(--gray-400);
  font-size: 0.875rem;
  line-height: 1.6;
}

.sidebar footer {
  border-top: 1px solid var(--gray-600);
  margin-top: 1.5rem;
  padding: 1.5rem 2rem 2rem;
}

.sidebar footer a {
  align-items: center;
  background: transparent;
  border: 1px solid var(--green-500);
  border-radius: 8px;
  color: var(--green-500);
  display: flex;
  font-weight: bold;
  gap: 0.5rem;
  height: 50px;
  justify-content: center;
  padding: 0 0.5rem;
  text-decoration: none;
  transition: color 0.1s, background 0.1s;
}

.sidebar footer a:hover {
  color: var(--white);
  background: var(--green-500);
}
